<!DOCTYPE html>
<html lang="en">
<style>
    * {
    background: {{ background_color }};
    color: {{ primary_color }};
    font-family: 'Titillium Web';
    }

    .head {

        font-size: 48px;
        font-weight: lighter;
        padding: 10%;
    }
    #c {
        padding: 0%;
        padding-left: 10%;
        font-size: 20px;

    }
</style>
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
    <title>Thanks!</title>
</head>
<body>
<h1 class="head">Received!<br> You will receive an email when your portal is ready.</h1>
<h2 id="c"> feel free to close this window.</h2>
</body>
</html>
