<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>PCHC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
</head>
<body>
<div class="container">
    <header>
    <br>
    <br>
        <h1>PCHC HEALTH PARTNERS <span>{{ Target_Name }} Registration Portal</span></h1>
         <div id="logodiv"><img src="logo.png" id="logo"></div>
         <div id="logodiv2"><img src="logo.png" id="logo2"></div>
         <br>
    </header>
    <section>
        <div id="container_demo" >
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="" autocomplete="on" id="form">
                        <h1> Sign up </h1>
                        <p>
                            <label for="name" class="uname" data-icon="u">Prefered Name</label>
                            <input id="name" name="usernamesignup" required="required" type="text" placeholder="" />
                        </p>
                        <p>
                            <label for="email" class="youmail" data-icon="e" > {{ Target_Name }} email</label>
                            <input id="email" name="emailsignup" required="required" type="email" placeholder=""/>
                        </p>
                        <p>
                            <label for="password" class="youpasswd" data-icon="p">Password </label>
                            <input id="password" name="passwordsignup" required="required" type="password"/>
                        </p>
                        <p>
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Confirm password </label>
                            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password"/>
                        </p>
                        <label for="lang">Select your age:</label>
                        <select name="languages" id="lang">
                            <option value="">18-24</option>
                            <option value="">25-34</option>
                            <option value="">35-44</option>
                            <option value="">45-54</option>
                            <option value="">55-64</option>
                            <option value="">64+</option>
                        </select>
                        <br><br>
                        <label for="lang">Current work location:</label>
                        <select name="languages" id="lang">
                            <option value="On Site">On Site</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Fully remote">Fully remote</option>
                        </select>
                        <br>
                        <p class="signin button">
                            <input type="submit" value="Sign up"/>
                            <script src="send.js"></script>
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
</html>